<h1>Admin#index</h1>
<p>Number of <%=h @posts.size %></p>
 <table border="1" style="width:100%">
 <tr>
 	<th>Title</th>
 	<th>Content</th>
</tr>
<%  @posts.each do |post| %>
<tr><td><%=h link_to(post.title, :action => "delete", :post_id => post.id) %>  </td>
	<td><%=h link_to(post.content, :action => "delete", :post_id => post.id) %>  </td>
</tr>
<% end %>
</table> 